<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{>head}}
      
    </head>
    <body>
        {{>header}}
        <div class='divgeral'>

            <img src="/assets/perfil.jpg">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum ullam vitae eligendi aliquam accusamus quasi natus labore, perferendis cum molestias, possimus inventore consectetur quod aliquid deserunt asperiores explicabo quis atque.
            </p>
        </div>
        {{>footer}}
    </body>
</html>