<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{>head}}
    
    </head>
    <body>
        {{>header}}
        <div class="divgeral">
            <p class='help'>
                Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. Some helpfull text. 
            </p>
        </div>
        {{>footer}}
    </body>
</html>