<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>head}}
    <style>
        * {
            font-family: system-ui;
        }
        h1{
            margin-top: 50vh;
            transform: translate(0,-50%);
        }
    </style>
</head>
<body>
    {{>header}}
    

    {{>footer}}
</body>
</html>